.btn {
  background-color: #76c977;
  border: 20px 50px;
  color: #fff;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 20px 15px;
  cursor: pointer;
  width: 15%;
  height: 150px;
  margin: 0 auto 5%;
  border-radius: 50%;
}

.btn:focus,
.btn:hover {
  background: #fff;
  border: 1px solid #ca353b;
  color: #ca353b;
}
